<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>관리자 페이지</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>관리자 페이지</h2>
    </div>
    <form th:action th:object="${loginRequestDto}"  method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div class="row g-3 align-items-center justify-content-center">
            <div class="col-auto">
                <label class="form-label" for="id">아이디</label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="text" id=id name="id"
                       th:value="${loginRequestDto.id}">
            </div>

            <div class="col-auto">
                <label class="form-label" for="pw">비밀번호</label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="password" id="pw" name="pw"
                       th:value="${loginRequestDto.id}">
            </div>

            <div class="col-auto">
                <button class="btn btn-primary" type="submit">로그인</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>